.div1{
    width: 100px;
    height: 100px;
    background-color: green;
    font-size: 30px;
    color: wheat;
    text-align: center;
    padding-top: center;
    transition: width 2s, background-color 2s, tranform 5s;
margin: 50px;
}
.div1:hover{width:200px;
background-color:blueviolet;
transform:rotate(-20deg);}


.div2{
    width: 100px;
    height: 100px;
    background-color:blue;
    font-size: 30px;
    color: wheat;
    text-align: center;
    padding-top: center;
    transition: all 2s;

}
.div2:hover:hover{width:200px;
background-color:blueviolet;

margin-left: 200px;
width: 200px;
height: 200px;
font-size: 50px;
}