

.header{
    
        background-image: url(../images/harris.jpg);
        background-size: cover;
        background-position: center;
        border-radius: 100px 100px 100px;
        height: 400px;
        width: 100%;
        margin: 20px;
        padding: 30px;
        box-shadow: 5px 5px 7px;
}
.subdiv{ height: 200px;
float: left;
width: 20%;
background-color: maroon;
margin-left: 40%;
margin-top: 20px;
border: solid 10px black;
font-size: 20px;
font-weight: bold;
text-align: center;
padding:100px;}


.leftside{background-color:rgba(255, 255, 255);
height: 400px;
float:left;
width:20%}

.content{background-color: lightseagreen;
    height: 400pxpx;
    float:left;
    width: 80%;
}

.footer{
    background-color: lime;
    height: 200;
    float:left;
    width: 50%;
}